mixin scriptModule(name)
	script(src="../../modules/"+name)
mixin scriptScripts(name)
	script(src="../../scripts/"+name)
mixin linkVendor(name)
	link(rel="stylesheet" type="text/css" href="../../vendor/"+name)
mixin linkStyles(name)
	link(rel="stylesheet" type="text/css" href="../../styles/"+name)
mixin linkModuleStyles(name)
	link(rel="stylesheet" type="text/css" href="../../modules/"+name)
mixin scriptPage(name)
	script(src=name)
mixin image(filename, classes, alt, tabindex)
	img(src="../../assets/img/"+filename, class=classes, alt=alt, tabindex=tabindex)

